apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
  namespace: homelab
spec:
  releaseName: open-webui
  interval: 15m
  chart:
    spec:
      version: "8.12.x"
  values:
    image:
      repository: ghcr.io/open-webui/open-webui
      tag: "v0.8.0"
    pipelines:
      enabled: false
    ollama:
      ollama:
        models:
          pull:
            - llama3.2:1b
    persistence:
      enabled: true
      size: 2Gi
      storageClass: "local"
