apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-options
  namespace: istio-ingress
data:
  service: |
    spec:
      type: NodePort
      ports:
      - name: http
        port: 80
        protocol: TCP
        nodePort: 30080
      - name: https
        port: 443
        protocol: TCP
        nodePort: 30443
