apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
  namespace: homelab
spec:
  releaseName: open-webui
  interval: 15m
  chart:
    spec:
      version: "8.12.x"
  values:
    image:
      repository: ghcr.io/open-webui/open-webui # {"$imagepolicy": "flux-system:open-webui:name"}
      tag: "v0.7.2" # {"$imagepolicy": "flux-system:open-webui:tag"}
    pipelines:
      enabled: false
    ollama:
      ollama:
        models:
          pull:
            - PetrosStav/gemma3-tools:4b
    persistence:
      enabled: true
      size: 2Gi
      storageClass: "local"
