apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
  namespace: vaultwarden
spec:
  chart:
    spec:
      version: "0.34.x"
  test:
    enable: false
  valuesFrom:
    - kind: Secret
      name: vaultwarden-values
  values:
    timeZone: "Europe/Moscow"
    image:
      tag: 1.35.3
    domain: "https://vaultwarden.${cluster_subdomain}"
    database:
      type: postgresql
      existingSecret: "vaultwarden-db-app"
      existingSecretKey: "uri"
    serviceAccount:
      create: true
      name: "vaultwarden-svc"
    signupsAllowed: false
    resources:
      limits:
        cpu: 300m
        memory: 300Mi
      requests:
        cpu: 50m
        memory: 150Mi
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsGroup: 1001
      runAsUser: 1001
      capabilities:
        drop:
          - ALL
      seccompProfile:
        type: RuntimeDefault
    podSecurityContext:
      fsGroup: 1001
      supplementalGroups:
        - 1001
    extraVolumes:
      - name: data
        emptyDir: {}
    extraVolumeMounts:
      - name: data
        mountPath: /data
