name: Renovate
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Renovate
        uses: renovatebot/github-action@v46.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: renovate.json
